.video-block {
  padding: 20px;
  width: 100%;
  height: 915px;
  box-sizing: border-box;

  & > div {
    height: 100%;
  }
}
#video-about-us {
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .video-block {
    height: 300px;
  }
}