.discipline-item-block {
  padding: 13px 23px;
  width: 480px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;

  &:hover {
    background-color: #1160f3;
  }

  &__title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
  }
  &__img {
    width: 100px;
    margin-right: 18px;
  }
}

@media (max-width: 520px) {
  .discipline-item-block {
    &__title{
      font-size: 24px;
    }
  }
}