.base-btn {
  font-size: 24px;
  border-radius: 30px;
  padding: 14px;
  border: none;
}

.callback-btn, .specialist-btn {
  width: 100%;
  padding: 33px 127px;
  margin-top: 16px;
  color: #FFFFFF;
}


@media (max-width: 520px) {
  .base-btn {
    font-size: 18px;
    padding: 10px;
  }
}
