.banner-box {
  width: 100%;
  padding: 22px 52px;
  background-image: url("../../assets/banner-img.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__title {
    max-width: 350px;
    margin: 20px auto 10px;
    padding-bottom: 20px;
    border-bottom: solid 5px black;
  }
  &__img {
    width: 500px;
  }
  &__title-describe {
    font-family: 'Merriweather', sans-serif;
  }
}
@media (max-width: 1300px) {
  .banner-box {
    padding: 0;
    background-size: cover;
  }
}

@media (max-width: 601px) {
  .banner-box {
    justify-content: center;
    height: 80vh;
    &__img {
      width: 300px;
    }
  }
}
@media (max-width: 520px) {
    .banner-box__items {
      width: 95%;
    }
    .banner-box__title-block{
      display: none;
    }
}