.feedback-section {
  width: 100%;
  padding: 33px 54px;

  &__info-block {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: 1260px;
    margin: 0 auto;
  }

  &__info-block > img {
    width: 200px;
    border-radius: 30px;
  }
  &__comment-block {
    text-align: left;
    font-family: 'Merriweather-Regular', sans-serif;
    font-size: 32px;
    //font-size: calc((14/905) * 100vw + (1272/181) * 1px);

    color: #000000;
  }
  &__customer-block {
    padding: 16px 43px 0;
    text-align: left;
  }

  &__customer-block > .customer-name {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
  }
  &__customer-block > p {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #575757;
  }
}

@media (max-width: 601px){
  .feedback-section {
    padding: 15px;
    width: 90%;
    margin: 0 auto;

    &__info-block {
    margin-bottom: 20px;
  }
    &__info-block > img {
      width: 100px;
      height: 100px;
      border-radius: 30px;
  }
    &__customer-block > p {
      font-size: 14px;
      line-height: 5px;
    }
    &__customer-block > .customer-name {
      font-size: 20px;
    }
    &__customer-block {
      padding: 0 0 0 20px;
    }
    &__comment-block {
      font-size: calc((12/905) * 100vw + (1272/181) * 1px);
    }

  }
}