.furniture-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 540px) {
  .furniture-section {
    padding: 0px 30px;
  }
}

@media (max-width: 414px) {
  .furniture-section {
    padding: 0px 10px;
  }
}