#root {
    margin: 0 auto;
    text-align: center;
    background-color: #fafcff;
}
.main-container {
    max-width: 1600px;
    margin: 0 auto;
}

.main-content-box {
  width: 100%;
  padding: 0;
}

@media (max-width: 520px) {
    .main-content {
      padding: 10px;
    }
}