.teacher-profile-block {
    text-align: left;
    margin: 50px auto;

  &__info {
      display: flex;
      font-family: 'Montserrat', sans-serif;
      flex-wrap: wrap;
      font-style: normal;
      font-weight: 600;
      color: #000000;
      margin: 32px auto;
  }
}

.teacher-profile {

  &__img {
    width: 250px;
    border-radius: 30px;
    margin-right: 44px;
  }
  &__name {
    font-size: 36px;
    line-height: 49px;
  }
  &__title h2 {
    font-size: 32px;
    line-height: 39px;
  }
}
.teacher-profile-block__about-me {
  width: 100%;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;

}

.teacher-profile-about-me {
    &__title {
      width: 100%;
      border-bottom: solid 1px #045CBD;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
    }
    &__info {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }
}

@media (max-width: 680px) {
  .teacher-profile__img {
    margin-right: 0;
  }
  .teacher-profile__title {
    margin-top: 16px;

    & > h2 {
      font-size: 18px;
      line-height: normal;
    }
  }
  .teacher-profile__name {
    font-size: 28px;
    line-height: normal;
  }
  .teacher-profile-block {
    &__info {
      justify-content: center;
      text-align: center;
    }
  }
}