.nav-link {
  color: black !important;
}

.nav-dropbox-link {
  display: block;
}
.active-link {
  border-bottom: #AD4747 solid 5px;
}

@media (max-width: 520px) {
  .navbar-nav {
    height: 100vh;
  }
  .nav-dropbox-link {
      display: flex !important;
      justify-content: center !important;
  }
}