.footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 36px 10px;
}
.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 5px 0;
}

.footer-text, a.footer-text, .footer-text a {
  text-decoration: none;
  color: black;
}

a.footer-text:hover, .footer-text a:hover {
  color: #AD4747;
}

.company-info, .footer-contacts, .footer-nav-bar {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.company-info {
  &__img {
    width: 278px;
    margin-bottom: 5px;
  }
}
.footer-contacts {
  &__list {
    border-bottom: solid 1px black;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
  }
  &__links {
    display: flex;
    padding: 13px 0;
  }
  &__links img {
    width: 50px;
    margin-right: 16px;
  }
}
p.sources-img:hover {
  cursor: pointer;
}

.footer-box-nav-bar {
  width: 60%;
}

@media (max-width: 720px) {
  .footer-box-nav-bar {
    width: 100%;
    flex-direction: row-reverse;
  }
}