VITE_REACT_APP_URL_BASE=http://localhost:8000

VITE_REACT_APP_URL_COMMENTS=comments/
VITE_REACT_APP_URL_FURNITURE=furniture/
VITE_REACT_APP_URL_FAQ=faq/
VITE_REACT_APP_URL_CATALOG=catalog/
VITE_REACT_APP_URL_TEACHERS=teachers/
VITE_REACT_APP_URL_CONTACTS=contacts/
VITE_REACT_APP_URL_DOCUMENTS=documents/
VITE_REACT_APP_URL_NOTIFICATIONS=notifications/
VITE_REACT_APP_URL_DELIVERY=delivery/
VITE_REACT_APP_URL_ABOUT=about/
