$S3
#MINIO_ROOT_USER=test
#MINIO_ROOT_PASSWORD=test
AWS_STORAGE_BUCKET_NAME=test
AWS_PUBLIC_STATIC_LOCATION=static
AWS_S3_REGION_NAME=ru-1
AWS_PUBLIC_MEDIA_LOCATION=media
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_QUERYSTRING_AUTH=False
BOTO3_ENDPOINT_URL=localhost
AWS_S3_ENDPOINT_URL=localhost
AWS_S3_USE_SSL=True
USE_S3=True

#DB
POSTGRES_USER=test
POSTGRES_DB=test
POSTGRES_PASSWORD=test
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#AMOCRM INTEGRATION
AMOCRM_SUBDOMAIN=test
AMOCRM_CLIENT_ID=test
AMOCRM_CLIENT_SECRET=test
AMOCRM_REDIRECT_URL=https://test.ru
AMOCRM_SECRET_CODE=test

#Django
SECRET_KEY=test
DEBUG=True
ALLOWED_HOSTS=*,0.0.0.0
#CORS_ALLOWED_ORIGINS=http://localhost:8000,http://localhost
CORS_ALLOW_ALL_ORIGINS=True
CSRF_TRUSTED_ORIGINS=https://test.ru,http://test.ru
REDIS_HOST=localhost
REDIS_PORT=6380
TELEGRAM_TOKEN=test